*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
}

header img{
    height: 2rem;
    margin-right: 1rem;
}

.left-header h1{
    color: grey;
    font-size: 1.5rem;
}

.left-header{
    margin: 1rem;
}

.right-header{
    margin: 1rem;
}

.right-header span{
    height: 2rem;
    width: 2rem;
    color: white;
    background-color: purple;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
}

.right-header i{
    color: black;
}

/* NAV */
nav{
    border-bottom: 1px solid grey;
    padding: 1rem 0;
}

nav span{
    color: grey;
    margin: 0 2rem;
    padding: 1rem 0;
}

.faqs{
    border-bottom: 3px solid blue;
    color: blue;
}

/* MAIN */
main{
    width: 60%;
    margin: 0 auto;
    margin-top: 180px;
}

main h1{
    font-size: 1.8rem;
    color: darkslategrey;
    margin-bottom: 2rem;
}

main p{
    line-height: 1.6rem;
    margin-bottom: 2rem;
}